.genres-list {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap; 
}
  
.genre {
    color: white;
    margin-right: 15px; 
    font-size: 50px

}
.title{
    color: white;
    font-size: 100px;
    justify-content: center;
    display: flex;
}
.genres-list::-webkit-scrollbar{
    display: none;
}